.underscore {
	text-align: center;
	font-size: 50px;
	opacity: .5;
}

.panel {
	text-align: center;
	font-size: 25px;
	opacity: .5;
	margin: 0px 150px 0 150px;
	padding: 2%;
}

.rightLetters {
	color: blue;
	padding: 1%;
}


.wrongLetters {
	color: red;
	padding: 1%;
}

#wins {
	color: blue;
	padding: 1%;
}


#losses {
	color: red;
	padding: 1%;
}

h1, h2 {
	text-align: center;
	font-size: 40px;
	color: white;
}



.message{
	font-size: 100px;
	color: white;
	text-align: center;
}

/* The only rule that matters */
#video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

@media only screen and (max-width: 640px) {
.panel {
	text-align: center;
	font-size: 20px;
	opacity: .5;
	margin: 0px 0px 0 0px;
}
}
